.navbar {
  width: 95%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}

.navbar::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  width: 80%;
  left: 10rem;
  bottom: 0;
}


.navbar a {
    font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.logo {
  font-size: 2.5rem !important;
  font-weight: 800;
  cursor: pointer;
}


.address {
  border: 1px solid white;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.7);
  padding: 5px 12px;
  border-radius: 12px;
  cursor: pointer;
}